* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'roboto';
}

/*------------------------- PARTIE ACCUEIL---------------------------*/
/*-------------------------ANIMATION LOADER (CHARGEMENT PAGE )---------------------------*/

.oh {
  color: #9356dc;
  font-family: "shrikhand";
  overflow: hidden;
  animation-name: fondu;
  -webkit-animation-name: fondu;
  -moz-animation-name: fondu;
  -o-animation-name: fondu;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /*pour chrome*/
  -moz-animation-delay: 0s;
  /*pour mozilla*/
  -o-animation-delay: 0s;
  /*pour opera*/
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  transform: scale(0.0) rotate(360deg);
  -webkit-transform: scale(0.0) rotate(360deg);
  -moz-transform: scale(0.0) rotate(360deg);
  -o-transform: scale(0.0) rotate(360deg);

}

.my {
  color: #FF79DA;
  font-family: "shrikhand";
  overflow: hidden;
  animation-name: fondu1;
  -webkit-animation-name: fondu1;
  -moz-animation-name: fondu1;
  -o-animation-name: fondu1;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  transform: scale(0.0) rotate(360deg);
  -webkit-transform: scale(0.0) rotate(360deg);
  -moz-transform: scale(0.0) rotate(360deg);
  -o-transform: scale(0.0) rotate(360deg);

}

.food {
  color: #99e2d0;
  font-family: "shrikhand";
  overflow: hidden;
  animation-name: fondu2;
  -webkit-animation-name: fondu2;
  -moz-animation-name: fondu2;
  -o-animation-name: fondu2;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  transform: scale(0.0) rotate(360deg);
  -webkit-transform: scale(0.0) rotate(360deg);
  -moz-transform: scale(0.0) rotate(360deg);
  -o-transform: scale(0.0) rotate(360deg);
}

.chargement {
  font-size: 2.8em;
  margin-top: 3em;
  left: 0em;
  position: absolute;
  text-align: center;
  z-index: 1;
  display: inline-flex;

}

@-webkit-keyframes fondu {
  0% {

    transform: scale(0.0) rotate(360deg);
  }

  25% {

    transform: scale(1.0);
  }

  100% {

    transform: scale(0.0);
  }

}

@-webkit-keyframes fondu1 {
  0% {

    transform: scale(0.0) rotate(360deg);
  }

  25% {

    transform: scale(1.0);
  }

  100% {

    transform: scale(0.0);
  }

}

@-webkit-keyframes fondu2 {
  0% {

    transform: scale(0.0) rotate(360deg);
  }

  25% {

    transform: scale(1.0);
  }

  100% {

    transform: scale(0.0);
  }

}

/*pour débute le loader sur une page blanche*/
.bloc_main {
  -webkit-animation: fondumain 1s;
  animation: fondumain 1s;
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  opacity: 0;
  z-index: 2;
}

@keyframes fondumain {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@-webkit-keyframes fondumain {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@-moz-keyframes fondumain {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@-o-keyframes fondumain {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/*----------------------------------------------------------*/
/*--------------------ANIMATION DES 4 MENUS----------------*/
.entree_menu,
.plat_menu,
.dessert_menu {
  animation: disparaitre 2s;
  -webkit-animation: disparaitre 2s;
  -moz-animation: disparaitre 2s;
  -o-animation: disparaitre 2s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-fill-mode: none;
  -webkit-animation-fill-mode: none;
}

.carte_menu--1 {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  /*laisser l'element en état final*/
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  opacity: 0;
}

.carte_menu--2 {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  opacity: 0;
}

.carte_menu--3 {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  opacity: 0;
}

.carte_menu--4 {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes disparaitre {
  0% {

    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes disparaitre {
  0% {

    -webkit-transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }

  0% {
    -webkit-transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes disparaitre {
  0% {

    -moz-transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }

  0% {
    -moz-transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -moz-transform: translateY(0);
    opacity: 1;
  }
}

@-o-keyframes disparaitre {
  0% {

    -o-transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -o-transform: translateY(0);
    opacity: 1;
  }

  0% {
    -o-transform: translateY(20px);
    opacity: 0;
  }

  100% {
    -o-transform: translateY(0);
    opacity: 1;
  }
}

/*-----------------------------FIN ANIMATION MENU-----------------------------------*/
/*--------------------------------CSS ACCUEIL--------------------------------------*/
/*-------------SECTION LOCALISATION------------------------------------------------*/

header {
  text-align: center;
  margin-top: 9%;
  padding-bottom: 1.9em;
}

.conteneur_localisation {
  background-color: #dfdddd5e;
  /*padding: -15em 0em 3em 0em;*/
}

.localisation {
  background-color: #dfdddd5e;
  box-shadow: -1.5px -2.5px 4px 0px #a8a3a3;
  margin-top: -1em;
  /* font-weight: 500; */
  font-size: 1.2em;
  text-align: center;

}

.localisation h2 {
  font-size: 1em;
  font-weight: 500;
}

.localisation i {
  padding: 10px 10px 10px 0px;
  /* margin-left: 3em;*/
  font-size: 0.9em;
}

/*------------SECTION PRESENTATION----------------*/
.presentation {
  text-align: center;
  margin-top: 1.8em;
  padding: 0em 0em 4em 0em;
}

.presentation h3 {
  font-weight: 100;
  font-size: 1.1em
}

/*BOUTON EXPLORER NOS RESTAURANT*/
.presentation input {
  margin-top: 2em;
  border-radius: 2em;
  padding: 0.8em 2em;
  background: #686868 linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  font-weight: 500;
  color: #ffffff;
  font-size: 1em;
  border: 0px;
  box-shadow: 3px 3px 3px #80808091;
  transform: scale(1);
}

.presentation input:hover {
  opacity: 0.8;
  background-color: #9356dc;
  transition-duration: 1s;
  transform: scale(1.05);
}

/*-------------SECTION FONCTIONNEMENT----------*/
.fonctionnement h2 {
  margin-left: 1em;
  margin-top: 1.5em;
}

.conteneur_3_boutons {
  display: flex;
  flex-direction: column;
}

.bouton {
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-left: 2em;
  border-radius: 22px;
  background: #d9d8d854;
  margin-right: 2em;
  height: 4em;
  box-shadow: 0em 0.4em 0.7em 0.3em #80808036;
}

.bouton:hover {
  background-color: #f2eafb;
}

.bloc_bouton {
  color: #ffffff;
  margin-left: -0.3em;
}

.bouton i {
  padding: 1.3em;
  margin-left: -0.5em;
  font-size: 1.2em;
}

.fonctionnement .bouton:hover {
  color: #9356dc;
  cursor: pointer;
}

.menu_titre {
  color: #000;
  font-weight: 900;
}

.bloc_bouton h3 {
  margin-left: -0.6em;
  background-color: #9356dc;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  font-weight: 400;
  height: 1.3em;
  width: 1.3em;
}

/*------------SECTION RESTAURANTS----------------*/
.conteneur_cartes {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  padding-bottom: 1.5em;
}

.conteneur_titre h2 {
  margin-left: 1em;
  margin-top: 2em;
}

.bloc_cartes {
  padding: 1em;
}

.restaurant {
  background-color: #fff;
  border-radius: 1em;
  margin-bottom: 1em;
  height: 17em;
  box-shadow: -1px 6px 7px #cac7c7d1;
}

.restaurant img {
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0em 0em;
  height: 12em;
}

.texte_droite {
  position: absolute;
  top: 50.5em;
  right: 1.6em;
  background-color: #99e2d0;
  color: #0c6b50;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 5%;

}

.texte_droite-1 {
  position: absolute;
  top: 65.5em;
  right: 1.5em;
  background-color: #99e2d0;
  color: #0c6b50;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 5%;
}

.restaurant_texte {
  margin-left: 1em;
  margin-top: 1em;
}

.restaurant i

/*emplacement du coeur*/
  {
  position: absolute;
  margin-left: 9em;
  margin-top: -1.5em;
  /*padding-right: 1em;*/
  font-size: 1.4em;
  cursor: pointer;
}

.restaurant i:hover

/*le coeur change de couleur*/
  {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  font-weight: 600;
  transform: scale(1.2);
  -webkit-background-clip: text;
  /*recadrer le coeur*/
  -webkit-text-fill-color: transparent;
  /*coeur transparent*/
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*----------------------------------------------------------------*/
/*-------------------------FOOTER--------------------------------*/
footer {
  background-color: #000000C7;
  padding: 0.2em 0.2em 1.5em;
}

.section_footer {
  margin-left: 1em;
  color: #fff;
}

footer h4 {
  margin-bottom: 0.9em;
  padding-top: 1em;
  font-family: "shrikhand";
  font-weight: inherit;
  font-size: 1.2em;
}

.fa-utensils,
.fa-hands-helping {
  font-size: 0.8em;
}

footer a {
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  margin-left: 0.5em;
}

/*--------------------------FIN ACCUEIL-------------------------------*/
/*---------------------------CSS DES 4 MENUS----------------------*/
header i {
  position: absolute;
  margin-left: -2em;
  margin-top: 0.8em;
  color: #000;
}

.header_image img {
  width: 100%;
  height: 16em;
  object-fit: cover;
}

.titre_menu h2 {
  font-family: "shrikhand";
  font-weight: inherit;
  margin-top: 1em;
  font-size: 1.3em;
}

#conteneur_menus {
  position: sticky;
  background-color: #f6f6f6;
  border-radius: 2em 2em 0em 0em;
  margin-top: -6em;
  padding: 1em;
  z-index: 1;
}

.entete_menus-icone {
  position: relative;
}

.entete_menus i

/*emplacement du coeur*/
  {
  position: absolute;
  right: 0.8em;
  top: -1.3em;
  font-size: 1.4em;
}

/*---------ANIMATION COEUR-----------------*/
.entete_menus i:hover

/*le coeur change de couleur*/
  {
  background: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  font-weight: 600;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  /*recadrer le coeur*/
  /* la zone d'arrière-plan s'étend dans le texte.*/
  -webkit-background-clip: text;
  /*coeur transparent*/
  -webkit-text-fill-color: transparent;
  /*pour Microsoft (internet explorer)*/
  -ms-text-fill-color: transparent;
  transition: all 1s;
}

.cartes_entrees,
.cartes_plats,
.cartes_desserts {
  margin-top: 4em;
}

.cartes_entrees h3,
.cartes_plats h3,
.cartes_desserts h3 {
  font-weight: 400;
  margin-left: 0.2em;
  width: 10%;
  border-bottom: solid #99e2d0;
  margin-bottom: 1em;
  margin-top: -2.5em;
}

.entree_menu,
.plat_menu,
.dessert_menu {
  border-radius: 1em;
  box-shadow: 0.1em 0.5em 1em #d4d4d4;
  margin-bottom: 0.8em;
  background-color: white;
  height: 4em;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.input_menu {
  appearance: none;
}

/*label*/
.menu-general {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 0em 0em 1.2em;
}

.entree_description_tarif,
.plat_description_tarif,
.dessert_description_tarif {
  max-width: 100%;
  overflow: hidden;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.entree_description_tarif .entree_description,
.plat_description_tarif .plat_description,
.dessert_description_tarif .dessert_description {
  width: 66%;
  margin: 0.5em;
  z-index: 1;
  display: block;
}

.entree_description .texte2,
.plat_description .texte2,
.dessert_description .texte2 {
  margin: 0em;
  font-size: 0.84em;
  font-weight: 300;
}

.entree_description .texte1,
.plat_description .texte1,
.dessert_description .texte1 {
  font-weight: 600;
}

.entree_description .texte1,
.entree_description .texte2,
.plat_description .texte1,
.plat_description .texte2,
.dessert_description .texte1,
.dessert_description .texte2 {
  overflow: hidden;
  text-overflow: ellipsis;
  /*--les 3 petits points--*/
  white-space: nowrap;
  text-align: start;
  display: block;
  font-family: 'Roboto';
}

.tarif {
  display: flex;
  align-items: flex-end;
  padding: 0em 1em;
  margin-left: 1em;
  font-weight: 600;
}

/*----------ANIMATION VALIDATION----------------*/
.commande {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 1em;
  border-radius: 2em;
  color: #fff;
  font-size: 1.2em;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}

.commande:hover {
  opacity: 0.6;
  background-color: #ffffff;
  transition-duration: 1s;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/*--pour que le tarif se pousse vers l'avant apès avoir cliquer sur validation*/
.tarif {
  transform: translate(-2em);
  -webkit-transform: translate(-2em);
  -moz-transform: translate(-2em);
  -o-transform: translate(-2em);
}

.validation {
  background-color: #99E2D0;
  border-radius: 0 1em 1em 0;
  height: 4em;
  width: 5.5em;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  display: none;
}

.input_menu:checked+label .validation {
  display: block;
  animation: animation_input_menu 0.5s forwards;
  -webkit-animation: animation_input_menu 0.5s forwards;
  -moz-animation: animation_input_menu 0.5s forwards;
  -o-animation: animation_input_menu 0.5s forwards;
  transform-origin: right;
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -o-transform-origin: right;
}

@keyframes animation_input_menu {
  0% {

    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);

  }
}

@-webkit-keyframes animation_input_menu {
  0% {

    -webkit-transform: scaleX(0);
  }

  100% {
    -webkit-transform: scaleX(1);

  }
}

@-moz-keyframes animation_input_menu {
  0% {

    -moz-transform: scaleX(0);
  }

  100% {
    -moz-transform: scaleX(1);

  }
}

@-o-keyframes animation_input_menu {
  0% {

    -o-transform: scaleX(0);
  }

  100% {
    -o-transform: scaleX(1);

  }
}

.validation .fa-check-circle {
  color: white;
  font-size: 1.5em;
  z-index: 1;
  margin-top: 0.8em;
  padding-left: 0.8em;
  animation: rotation_check-cercle 0.5s;
  -webkit-animation: rotation_check-cercle 0.5s;
  -moz-animation: rotation_check-cercle 0.5s;
  -o-animation: rotation_check-cercle 0.5s;
  transform-origin: center;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
}

@keyframes rotation_check-cercle {
  0% {
    transform: translate(0.5em) rotate(360deg);
  }

  100% {
    transform: translate(0em) rotate(0deg);
  }
}

@-webkit-keyframes rotation_check-cercle {
  0% {
    -webkit-transform: translate(0.5em) rotate(360deg);
  }

  100% {
    -webkit-transform: translate(0em) rotate(0deg);
  }
}

@-moz-keyframes rotation_check-cercle {
  0% {
    -webkit-transform: translate(0.5em) rotate(360deg);
  }

  100% {
    -webkit-transform: translate(0em) rotate(0deg);
  }
}

@-o-keyframes rotation_check-cercle {
  0% {
    -webkit-transform: translate(0.5em) rotate(360deg);
  }

  100% {
    -webkit-transform: translate(0em) rotate(0deg);
  }
}

/*---------------------------------------------------------------------*/
/*-----------------------------MEDIA QUERIES--------------------------*/
@media screen and (min-width:375px) {
  .chargement {
    margin-left: 2em;
    margin-top: 5em;
  }

  .presentation h2 {
    margin-left: 2em;
    margin-right: 2em;
  }

  .presentation h3 {
    font-size: larger;
  }

  .presentation input {
    font-size: 1.2em;
  }

  .texte_droite {
    top: 50.5em;
    right: 2em;
  }

  .texte_droite-1 {
    top: 65.5em;
    right: 2em;
  }

  .restaurant i {
    margin-left: 13em;
  }
}

@media screen and (min-width:1060px) and (max-width:1919px) {
 .chargement {
    margin-top: 7em;
    margin-left: 5em;
  }

  .oh,
  .my,
  .food {
    font-size: 3em;
  }

  .restaurant {
    height: 22em;
  }

  .restaurant img {
    height: 17em;
  }

  .texte_droite {
    top: 55em;
    right: 8em;
  }

  .texte_droite-1 {
    top: 75em;
    right: 8em;
  }

  .icone {
    margin-left: 12em;
  }

  footer h4 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .section_footer {
    margin-left: 4em;
  }

  .bloc_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
  }

  .hands-helping {
    margin-left: 1em;
  }
}

@media screen and (min-width:1920px) and (max-width:3840px)

/*--------ACCUEIL---------*/
  {

  .conteneur_chargement .chargement {
    margin-top: 10em;
    margin-left: 10em;
  }

  .oh,
  .my,
  .food {
    font-size: 3em;
  }

  header img {
    width: 20%;
  }

  .conteneur_localisation {
    width: 80%;
    margin-left: 11em;
    background: none;
  }

  header {
    margin-top: 5em;
  }

  .fonctionnement h2 {
    margin-top: 0em;
  }

  .fonctionnement h2,
  .conteneur_titre h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .conteneur_3_boutons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 85em;
    margin-left: 18.5em;
  }

  .conteneur_cartes {
    width: 79.7%;
    margin-left: 11em;
    border-radius: 1em 1em 0em 0em;
  }

  .bloc_cartes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 3em;
  }

  .restaurant {
    width: 34em;
    margin-left: 2em;
  }

  .texte_droite {
    top: 37em;
    right: 24em;
  }

  .texte_droite-1 {
    top: 37em;
    right: 63em;
  }

  .icone {
    margin-left: 12em;
  }

  footer {
    margin-left: 11em;
    width: 79.4%;
    height: 13.5em;
  }

  .section_footer {
    margin-left: 4em;
  }

  footer h4 {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  .bloc_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
  }

  .hands-helping {
    margin-left: 1em;
  }

  /*---------LES 4 MENUS--------*/
  header i {
    right: 77em;
    top: 3.5em;
  }

  header img {
    margin-top: -3em;
  }

  .header_image img {
    width: 94em;
    height: 43em;
    margin-top: -2em;
    margin-left: 11em;
    border-radius: 1em 1em;
    object-fit: cover;
  }

  #conteneur_menus {
    width: 78%;
    margin-left: 11em;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: -16.5em;
    border-radius: 5em 5em 0em 0em;
  }

  .entete_menus i {
    margin-left: 64em;
  }

  .cartes_entrees {
    margin-left: -12em;
    padding-top: 2em;
    width: 28%;
  }

  .cartes_plats {
    margin-left: 6em;
    padding-top: 2em;
    width: 29%;
  }

  .cartes_desserts {
    margin-left: 5em;
    padding-top: 2em;
    width: 28%;
  }

  .entree_menu .tarif,
  .plat_menu .tarif,
  .dessert_menu .tarif {
    margin-left: 7.5em;
  }

  .commande {
    width: 23%;
    margin-left: 3em;
  }

}